KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_HOSTNAME=http://localhost:4000/auth
KC_HOSTNAME_ADMIN=http://localhost:4000/auth
KC_PROXY_HEADERS=xforwarded
WEBHOOK_HTTP_BASE_PATH=http://api:3000/v1/webhooks/keycloak