PORT=3000
HOSTNAME='progress'
PROTO_DIR='/usr/src/app/libs/contracts/proto'
LEARNING_PATHS_SERVICE_URL='learning-paths:3000'
DB_HOST=progress-db
DB_NAME=progress
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin