PORT=3000
JWT_AUDIENCE=api
JWT_ISSUER=http://localhost:8080/realms/pathly
JWT_PUBLIC_KEY_PATH=jwt-public-key.pem
DB_HOST=db
DB_NAME=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
GRAPH_DB_HOST=graph-db
GRAPH_DB_NAME=neo4j
GRAPH_DB_PORT=7687
GRAPH_DB_USER=neo4j
GRAPH_DB_PASSWORD=zaq1@WSX
GH_EXERCISES_ORG_ID=277455908
GH_PROJECTS_ORG_ID=279263998
GH_EXERCISES_CLASSROOM_ID=321585
GH_PROJECTS_CLASSROOM_ID=321606
KC_CLIENT_SECRET=xE6iyZUC4fZtvsOeyUNpFLAJL2btyHsm
KC_CLIENT_ID=pathly-backend
KC_REALM_NAME=pathly
KC_BASE_URL=http://auth:8080